body {
    background-image: url('../static/Images/homerepairing.jpg');
    background-size: cover;
    background-position: center;
}

nav {
    background-color: aliceblue;
    color: #4F345A;
}
.navbar .btn {
    background-color: #4F345A;
}
.navbar .btn:hover{
    background-color: hsl(283, 28%, 48%);
}

.row .btn {
    background-color: #4F345A;
    margin-top: 10px;
    
}

.row .btn:hover{
    background-color: hsl(283, 28%, 48%);
    
}

.row .list-group {
    margin-top: 10px;
}