<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/booking_form.css">

  <title>Login Page</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-8">
                <form id="regForm" method="POST">
                    <h1 id="register">Survey Form</h1>
                    <div class="all-steps" id="all-steps"> 
                      <span class="step"><i class="fa fa-phone"></i></span> 
                      <span class="step"><i class="fa fa-map-marker"></i></span>
                      <span class="step"><i class="fa fa-envelope"></i></span>
                      <span class="step"><i class="fa fa-message"></i></span>
                    </div>
                    <div class="tab">
                        <h6>What's your phone number?</h6>
                          <p>
                            <input type = "tel" placeholder="Phone number" oninput="this.className = ''" name="phone_number"></p>
                          
                      </div>
                    <div class="tab">
                      <h6>What's your city?</h6>
                        <p><input placeholder="City" oninput="this.className = ''" name="city"></p>
                        
                    </div>
                    <div class="tab">
                        <h6>What's your Email?</h6>
                        <p><input placeholder="Email" oninput="this.className = ''" name="email"></p>
                     
                    </div>
                    <div class="tab">
                        <h6>Tell us the details of your task</h6>
                        <p><input placeholder="Provide a Summary of what you need done for your Tasker." oninput="this.className = ''" name="description"></p>
                    </div>
    
                    <div class="thanks-message text-center" id="text-message"> <img src="../static/Images/thankyou.jpg" width="400" class="mb-4">
                        <h3>Booking Done, Thankyou for your Trust!</h3> <span>Your booking has been successfully submitted. Our Service Provider will contact you shortly.</span>
                    </div>
                    <div style="overflow:auto;" id="nextprevious">
                        <div style="float:right;">
                          <button type="button" id="prevBtn" onclick="nextPrev(-1)"><i class="fa fa-angle-double-left"></i></button> 
                          <button type="button" id="nextBtn" onclick="nextPrev(1)"><i class="fa fa-angle-double-right"></i></button> </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        var currentTab = 0;
              document.addEventListener("DOMContentLoaded", function(event) {


              showTab(currentTab);

              });

              function showTab(n) {
              var x = document.getElementsByClassName("tab");
              x[n].style.display = "block";
              if (n == 0) {
              document.getElementById("prevBtn").style.display = "none";
              } else {
              document.getElementById("prevBtn").style.display = "inline";
              }
              if (n == (x.length - 1)) {
              document.getElementById("nextBtn").innerHTML = '<i class="fa fa-angle-double-right"></i>';
              } else {
              document.getElementById("nextBtn").innerHTML = '<i class="fa fa-angle-double-right"></i>';
              }
              fixStepIndicator(n)
              }

              function nextPrev(n) {
              var x = document.getElementsByClassName("tab");
              if (n == 1 && !validateForm()) return false;
              x[currentTab].style.display = "none";
              currentTab = currentTab + n;
              if (currentTab >= x.length) {
            
              document.getElementById("nextprevious").style.display = "none";
              document.getElementById("all-steps").style.display = "none";
              document.getElementById("register").style.display = "none";
              document.getElementById("text-message").style.display = "block";




              }
              showTab(currentTab);
              }

              function validateForm() {
                   var x, y, i, valid = true;
                   x = document.getElementsByClassName("tab");
                   y = x[currentTab].getElementsByTagName("input");
                   for (i = 0; i < y.length; i++) {
                       if (y[i].value == "") {
                           y[i].className += " invalid";
                           valid = false;
                       }


                   }
                   if (valid) {
                       document.getElementsByClassName("step")[currentTab].className += " finish";
                   }
                   return valid;
               }

               function fixStepIndicator(n) {
                   var i, x = document.getElementsByClassName("step");
                   for (i = 0; i < x.length; i++) {
                       x[i].className = x[i].className.replace(" active", "");
                   }
                   x[n].className += " active";
               }
    </script>
</body>
  
</html>
