<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">  

    <!-- css file  -->
    <link rel="stylesheet" href="../static/styles.css">
  


    <title>Locallinker</title>
    <link rel="icon" href="../static/Images/icon.svg" type="image/icon type">
  </head>
  <body style="height: 2000px;">
    <!-- Navbar Section -->
    <nav class="navbar navbar-expand-sm navbar-light container-fluid bg-light" >
      <div class="container">
        <a class="navbar-brand mb-0 h1" href="{{ url_for('home') }}">
          <img src="../static/Images/icon.svg" width="30" height="30" class="d-inline-block align-top" alt="">
          <span>Locallinker</span>
        </a>
        <button
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        class="navbar-toggler"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
             <ul class="navbar-nav">
                <li class="nav-item active">
                    <a href="{{ url_for('home') }}" class="nav-link active">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="{{ url_for('services') }}" class="nav-link">Services</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">About Us</a>
                </li>
            </ul>
            <div class="btn-toolbar ms-auto" role="toolbar" aria-label="Toolbar with button groups">
              {% if current_user.is_authenticated %}
              <div class="btn-group me-2" role="group" aria-label="First group">
                <a href="{{ url_for('logout') }}"><button type="button" class="btn" style="background-color: #8FA998; color: white;">Logout</button></a>
            </div>
              {% else %}
              <div class="btn-group me-2" role="group" aria-label="First group">
                  <a href="{{ url_for('login') }}"><button type="button" class="btn" style="background-color: #8FA998; color: white;">Sign In</button></a>
              </div>
              <div class="btn-group me-2" role="group" aria-label="First group">
                  <a href="{{ url_for('register') }}"><button type="button" class="btn" style="background-color: #38A3A5; color: white;" >Register</button></a>
              </div>
              {% endif %}
             </div>
        </div>
      </div>
      </nav>

      <!-- Hero Section -->
      <section class="hero">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                      {{ message }}
                    </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
              {% block content %}{% endblock %}
            </div>
            <div class="col-lg-6">
              <div class="hero-content">
                <div class="hero-text">
                  <h1>Discover Local Services That Make Life Easier</h1>
                  <p>Find Trusted Professionals for Every Need, Right in Your Neighborhood</p>
                  <a href="#" class="btn">Find Services</a>
                  <form action="search_results.html" method="GET" class="d-flex">
                    <div class="col-sm-6 mb-3">
                      <input type="text" class="form-control" name="location" placeholder="Location">
                    </div>
                    <div class="col-sm-6 mb-3">
                      <input type="text" class="form-control" name="service" placeholder="Service">
                    </div>
                    <button type="submit" class="btn custom-btn">Search</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="hero-img">
                <img src="../static/Images/herosection.svg" alt="Services Image">
              </div>
          </div>
        </div>
      </section>

      <!-- Featured services section -->

      <section class="py-5">
        <div class="container">
          <h2 class="text-center mb-4">Featured Services</h2>
          <div class="row">
            <div class="col-lg-4 mb-4">
              <a href="service1.html" class="text-decoration-none">
                <div class="card">
                  <img src="../static/Images/home cleaning.jpg" class="card-img-top" alt="Service 1">
                  <div class="card-body">
                    <h5 class="card-title">House Cleaning</h5>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-4 mb-4">
              <a href="service2.html" class="text-decoration-none">
                <div class="card">
                  <img src="../static/Images/plumbing.jpg" class="card-img-top" alt="Service 2">
                  <div class="card-body">
                    <h5 class="card-title">Plumbing Repairs</h5>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-4 mb-4">
              <a href="service3.html" class="text-decoration-none">
                <div class="card">
                  <img src="../static/Images/event planning.jpg" class="card-img-top" alt="Service 3">
                  <div class="card-body">
                    <h5 class="card-title">Event planning and coordination</h5>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
      
      <!-- Call to action Section -->

      <section class="cta-section  text-white py-5">
        <div class="container text-center">
          <h2 class="mb-4">Take Action Now!</h2>
          <p class="lead mb-4">Discover top-quality services tailored to your needs. Sign up today!</p>
          <div class="row justify-content-center">
            <div class="col-md-4">
              <a href="{{ url_for('register') }}" class="btn  mb-3">Sign Up Now</a>
            </div>
            <div class="col-md-4">
              <a href="{{ url_for('services') }}" class="btn mb-3">Browse Services</a>
            </div>
            <div class="col-md-4">
              <a href="#" class="btn  mb-3">Contact Support</a>
            </div>
          </div>
        </div>
      </section>
      
      <!-- footer section -->

      <footer class="py-5 stl" style="background-color: #f8f9fa;  border-top: 1px solid lightgrey; height: 500px;">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h5>Contact Information</h5>
              <p>Email: locallinker@info.com</p>
              <p>Phone: +1234567890</p>
              <p>Address: 123 Main St, Casablanca, Morocco</p>
            </div>
            <div class="col-md-4">
              <h5>Social Media</h5>
              <ul class="list-unstyled">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h5>Legal</h5>
              <ul class="list-unstyled">
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Cookie Policy</a></li>
              </ul>
            </div>
          </div>
          <hr class="my-4">
          <div class="row">
            <div class="col-md-12">
              <ul class="list-inline text-center">
                <li class="list-inline-item"><a href="{{ url_for('home') }}">Home</a></li>
                <li class="list-inline-item"><a href="{{ url_for('services') }}">Services</a></li>
                <li class="list-inline-item"><a href="#">About Us</a></li>
                <li class="list-inline-item"><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>