<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/services.css">
  <title>Service Listings</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

  <nav class="navbar navbar-light">
    <div class="container-fluid">
      <h1>All Categories</h1>
      <form class="d-flex">
        <input id="find" class="form-control me-2" type="text" placeholder="Search here..." aria-label="Search" onkeyup="search()">
        <!-- <button class="btn text-light" type="submit">Search</button> -->
      </form>
    </div>
  </nav>
  <div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card mt-5" style="width: 60%; margin-left: 30%;">
        <div class="card-body service">
          <h5 class="card-title text-center">Home Cleaning</h5>
          <img src="../static/Images/homecleaning.jpg" class="card-img-top">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">Bedroom Cleaning</a>
            <a href="#" class="list-group-item list-group-item-action ">Home Cleaning</a>
            <a href="#" class="list-group-item list-group-item-action">Houskeeping</a>
          </div>
          <a href="#" class="btn text-light">See details</a>
        </div>
        
      </div>
      
    </div>
    <div class="col-md-6">
      <div class="card mt-5" style="width: 60%; ">
        <div class="card-body service">
          <h5 class="card-title text-center">Plumbing</h5>
          <img src="../static/Images/homerepairing.jpg" class="card-img-top">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">Drain Repair</a>
            <a href="#" class="list-group-item list-group-item-action ">Toilet Repair</a>
            <a href="#" class="list-group-item list-group-item-action">Unclog Toilet</a>
          </div>
          <a href="#" class="btn text-light">See details</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mt-5" style="width: 60%; margin-left: 30%;">
        <div class="card-body service">
          <h5 class="card-title text-center">Event planning</h5>
          <img src="../static/Images/eventplanner.jpg" class="card-img-top">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">Weeding Planner</a>
            <a href="#" class="list-group-item list-group-item-action ">DJ Services</a>
            <a href="#" class="list-group-item list-group-item-action">Event Marketer</a>
          </div>
          <a href="#" class="btn text-light">See details</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mt-5" style="width: 60%; ">
        <div class="card-body service">
          <h5 class="card-title text-center">Assembly</h5>
          <img src="../static/Images/assembly.jpg" class="card-img-top">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">Desk Assembly</a>         
            <a href="#" class="list-group-item list-group-item-action ">Furniture Assembly</a>
            <a href="#" class="list-group-item list-group-item-action">Grill Assembly</a>
          </div>
          <a href="#" class="btn text-light">See details</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mt-5" style="width: 60%; margin-left: 30%;">
        <div class="card-body service">
          <h5 class="card-title text-center">Electrical</h5>
          <img src="../static/Images/electrical_service.jpg" class="card-img-top">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">Light Switch Installation</a>         
            <a href="#" class="list-group-item list-group-item-action ">Outlet Installation</a>
            <a href="#" class="list-group-item list-group-item-action">Light Fixtures</a>
          </div>
          <a href="#" class="btn text-light">See details</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mt-5" style="width: 60%; ">
        <div class="card-body service">
          <h5 class="card-title text-center">General Handyman</h5>
          <img src="../static/Images/handyman-3546193_1280.jpg" class="card-img-top">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">Handy Helper</a>
            <a href="#" class="list-group-item list-group-item-action ">Locks Installation</a>
            <a href="#" class="list-group-item list-group-item-action">TV Mounting</a>
          </div>
          <a href="#" class="btn text-light">See details</a>
        </div>
      </div>
    </div>
  </div>
</div>
  <script type="text/javascript">
    function search() {
    let filter = document.getElementById('find').value.toUpperCase();
    let item = document.querySelectorAll('.service');
    let l = document.getElementsByTagName('h5');
    for(var i = 0;i<=l.length;i++){
    let a=item[i].getElementsByTagName('h5')[0];
    let value=a.innerHTML || a.innerText || a.textContent;
    if(value.toUpperCase().indexOf(filter) > -1) {
    item[i].style.display="";
    }
    else
    {
    item[i].style.display="none";
    }
    }
    }
    </script>
</body>
</html>
