body {
    background-image: url('../static/Images/homerepairing.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-form {
    /* background-color: rgba(255, 255, 255, 0.8); */
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
  }

  .container .btn {
    background-color: #4F345A;
}

.container h2 {
    color: #4F345A;
}